@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700');
@import url('./custom/code-highlight-dracula.scss');

body {
    font-family: 'Open Sans', sans-serif;
    --side-bar-size: 150px;
}

.site-footer {
    display: none;
}

pre.highlight, figure.highlight, code {
    background-color: inherit;
}

code {
    font-size: 14px;
}

@media (min-width: 66.5rem) {
    .side-bar {
        width: calc((100% - 1064px) / 2 + var(--side-bar-size));
        min-width: var(--side-bar-size);
    }

    .navigation, .site-header, .site-footer {
        width: var(--side-bar-size);
    }
    .main-content {
        margin-left: calc((100% - 1064px) / 2 + var(--side-bar-size));
    }
}

@media (min-width: 50rem) {
    .site-header {
        border: none;
    }
}

@media (min-width: 31.25rem) and (min-width: 50rem) {
    .navigation-list-item {
        font-size: 32px !important;
    }
    .site-header a,
    .navigation-list-item {
        text-align: right;
    }
    
    h2 code, h2 a {
        font-size: 24px;
    }

    .side-bar {
        background-color: #fff;
    }

    .site-title {
        display: none;
    }

    .navigation-list-link {
        color: #bbb;
        font-weight: 300;
    }
}
